[2016-07-18 22:10] mronian opened #1 "Framework"
- Packages
  - ImagesCore.jl
  - ImageFeatures.jl
  - TestImages.jl
  - Others....(MetaPackage)
- Tutorials
  - Setting Up
  - Save/Load Images
  - Noise Reduction
  - Smoothing
  - Colour Thresholding
  - Edge Detection
  - Object Detection
  - Feature Detection
  - Image Stitching
- Examples
- API Documentation

[2017-01-17 19:03] waldyrious opened #4 "stable badge in readme"
Why was the "stable" badge removed from the readme in d22ffcc? It shows up in http://juliaimages.github.io along with the "latest" badge.

By the way, the link above should probably be added to the repository description.

[2017-02-05 18:59] programistawpf opened #8 "ERROR: What wrong ?"
What wrong , all was copy from docs.
   _       _ _(_)_     |  A fresh approach to technical computing
  (_)     | (_) (_)    |  Documentation: http://docs.julialang.org
   _ _   _| |_  __ _   |  Type "?help" for help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 0.5.0 (2016-09-19 18:14 UTC)
 _/ |\__'_|_|_|\__'_|  |  Official http://julialang.org/ release
|__/                   |  x8

[2017-02-05 23:34] timholy commented on #8
Hmm, when I wrote that I evidently had some unfinished local changes to Unitful. I finished those up and submitted them here: https://github.com/ajkeller34/Unitful.jl/pull/51. When a new release gets tagged, this should just start magically working for you.

[2017-02-06 09:56] timholy commented on #8
Closed by https://github.com/ajkeller34/Unitful.jl/pull/51, though for now you'll have to `Pkg.checkout("Unitful")` to get the fix.

[2017-02-06 09:56] #8 closed

[2017-02-06 11:26] programistawpf opened #9 "How to save AxisArrays ? By save() with JLD is error. ERROR"
| | || | | | (| | | Version 0.5.0 (2016-09-19 18:14 UTC)
/ |_'|||_'_| | Official http://julialang.org/ release
|__/ | x86_64-w64-mingw32

julia> Pkg.update()
INFO: Updating METADATA...
INFO: Updating cache of DataFrames...
INFO: Updating cache of DataFrames...
INFO: Computing changes...
INFO: No packages to install, update or remove

julia> using Images, Unitful, AxisArrays

julia> using Unitful:

[2017-02-07 21:12] timholy commented on #9
Can you report this to JLD?

[2017-02-08 09:41] programistawpf commented on #9
I did.
Paul

[2017-02-08 10:08] timholy commented on #4
At the time, the stable link gave a 404 error. Now, it's been long enough since I read about this stuff that I don't even remember the difference between the two. One thing to keep in mind is that these docs aren't tied to a single package, they're for the whole ecosystem of packages, each of which can have a separate release schedule.

[2017-04-13 19:44] bjarthur opened #12 "move permuteddimsview into Base?"
it's a generally useful function.  i know of the desire to keep Base small, but it seems more appropriate there than in Images.

[2017-04-13 20:02] timholy commented on #12
Julia-0.6 now exports `PermutedDimsArray`, so maybe we won't even need it.

[2017-04-13 20:49] bjarthur commented on #12
yay!  i missed it when i went looking because of the capitalization...

[2017-04-15 11:23] waldyrious commented on #4
Fixed in #13

[2017-04-15 11:23] #4 closed

[2017-04-18 09:38] #9 closed

[2017-10-07 19:46] #1 closed

[2017-12-14 05:40] tosalonijain opened #22 "Comparision table in the docs needs to be updated"
![issuejulia2](https://user-images.githubusercontent.com/31576507/33977013-b7d87918-e0be-11e7-8dcd-b74ae4ca0ced.png)

There had been considerable works on image segmentation algorithms in JuliaImages. Though the segmentation section under "JuliaImages" column is still not updated accordingly.

[2017-12-14 12:07] tosalonijain commented on #22
@timholy can I work on this and make the changes??

[2017-12-14 15:13] SimonDanisch commented on #22
I'm sure everyone would be very happy if you open a PR with the changes! ;)

[2017-12-14 17:50] timholy commented on #22
Yes, that would be wonderful! I am pretty swamped, and most of my coding attention is on the julia 1.0 release right now.

[2018-01-06 17:09] #22 closed

[2018-01-17 17:44] arijitkar98 opened #24 "Some functionalities need to be updated in api_comparison.md"
Certain functionalities that are already present in the code like Otsu Thresholding, Convex Hull, etc are not yet updated in the comparisons doc.

[2018-01-17 17:46] arijitkar98 commented on #24
@timholy Shall I send a Pull Request with required changes?

[2018-03-11 13:04] zygmuntszpak opened #26 "What is the procedure for keeping this documentation in sync with package documentation?"
I've extended some of the documentation by modifying various docstrings of ImageFiltering.jl and these have been merged in the ImageFiltering repository. However, the new documentation is not reflected here. How does one go about rebuilding the documentation so that the latest docstrings appear here as well?

[2018-03-11 17:40] Evizero commented on #26
I'll look into it. Thanks for bringing this up

[2018-03-15 12:26] #24 closed

[2018-03-15 12:29] Evizero commented on #26
looks to me like travis here triggers the doc build. meaning to update the docs one needs to trigger travis on this repository. I just merged #25 so this should rebuild the docs. I.e. in the future someone needs to trigger travis manually if the docs are to be rebuilt

[2018-03-15 12:29] #26 closed

[2018-03-21 02:02] zygmuntszpak commented on #26
Thanks for looking into this. This seems not to have worked. I just had a look at the latest documentation and the function reference for the image filtering package is still the old version.

[2018-03-21 08:44] Evizero commented on #26
Right. I just looked into it. At first I thought it might be the failed doctests (logs: https://travis-ci.org/JuliaImages/juliaimages.github.io/builds/353799257 ), but then I realised the cause is much simpler.

The way this documentation website works is it pulls all the docs from the latest **tagged** version. which means that I (or someone) has to tag a new release before they are included here

[2018-03-21 08:48] Evizero commented on #26
once https://github.com/JuliaLang/METADATA.jl/pull/13922 is merged, someone just has to retrigger travis here for the docs to update

[2018-03-21 18:11] Evizero commented on #26
seems to be updated now

[2018-04-12 14:42] bjarthur commented on #12
it's definitely time to deprecate `permuteddimsview`

[2018-09-10 17:56] lou00011 opened #27 "Provide a minimum working example(even 3x3) at the quickstart without Random."
Coming from someone new to the language it took me a long time and a lot of scrolling to understand what part encodes for the color, and what component handles the positioning. The rand isn't making it easy and reproducible.

[2018-10-01 10:09] timholy commented on #12
Go for it :smile:

[2018-10-05 11:15] #27 closed

[2018-10-05 11:19] timholy commented on #27
Hopefully this is better now.

[2018-12-20 16:10] hackguy25 opened #36 "Site down?"
I noticed the site `http://juliaimages.github.io/latest` cannot be accessed.
![image](https://user-images.githubusercontent.com/20540694/50296103-f33e2180-0479-11e9-9949-494495f22ec7.png)
Is it being migrated or is there an error?

[2018-12-21 10:01] zygmuntszpak commented on #36
It's in the process of being migrated and I think something went wrong along the way. The current documentation can be [found here](https://juliaimages.org/latest/): `https://juliaimages.org/latest/`

[2018-12-21 10:03] zygmuntszpak commented on #36
@timholy Perhaps you could change the link that appears prominently in `https://github.com/JuliaImages` which currently says `http://juliaimages.github.io/latest`  to `https://juliaimages.org/latest/`

[2018-12-21 14:46] ViralBShah commented on #36
That's right, the old url won't work. I fixed it in a few places I found.

[2018-12-21 14:50] ViralBShah commented on #36
Updated it on top. It is best to use `https://juliaimages.org`. You automatically get the `latest`, but using just the site name without any paths will offer more flexibility-  say perhaps when there is a landing page (which is not docs).

[2018-12-21 14:58] ViralBShah commented on #36
The domain is also verified now on github.

[2018-12-21 14:58] #36 closed

[2018-12-21 15:01] timholy commented on #36
I'm still getting a 404

[2018-12-21 15:18] ViralBShah commented on #36
That's right - when we transition github pages to our own domain, the older `github.io` domains don't work. We need to point things to: `https://juliaimages.org/latest`.

[2018-12-21 15:19] ViralBShah commented on #36
In the same way, testimages now is at: http://testimages.juliaimages.org

[2018-12-21 15:30] timholy commented on #36
Naive question, but is there a way we can set up some kind of forwarding? I'm worried about stale links scattered across discourse etc. Over the years I've probably posted ~100 links to the JuliaImages documentation.

[2018-12-21 15:36] ViralBShah commented on #36
Let me see if I can make it work. Sorry about that - I guess I should have mentioned that before I started on this.

[2018-12-21 15:51] ViralBShah commented on #36
@timholy I renamed this repo to its original name - `juliaimages.github.io`. Turns out that makes the old URLs work as well as the new ones.

[2018-12-21 15:59] timholy commented on #36
Working for me now, thanks!

[2018-12-26 04:36] aquatiko opened #37 "Web Browser support for running demonstrations"
I was having some trouble using the __Color separations and the SVD__ demonstration on IJulia, so I added a little tweak to interact on a browser. i.e:
[code]
I think it would be helpful for someone stuck at the same step to run the demonstration on `IJulia`.

[2018-12-26 15:20] ViralBShah commented on #36
I am done with pointing JuliaImages.org to this repo and that part seems working smoothly. So I don't need to have the owner but here any more.

I seem to have created a bit of trouble work the migration and apologize for creating the extra work.

[2018-12-26 16:01] Evizero commented on #36
is the `www` prefix supposed to work that is linked at the repo header? (it doesn't for me, but it might be my setup)

[2018-12-26 16:38] ViralBShah commented on #36
The `www` has been a lot of trouble to get working. So I have just dropped it. It also seems a bit redundant in todays times.

[2019-01-06 13:46] tejus-gupta opened #40 "Error in building the documentation locally"
I am unable to build the documentation. The error message says that `'troubleshooting.md'` does not exist.

Here is the full error message and julia version info -
[code]

[code]

[2019-01-06 19:05] timholy commented on #40
I think it's https://github.com/JuliaImages/juliaimages.github.io/commit/98bf07589024f9fe43139e70dc2bed75da8c054e#commitcomment-31782177. I haven't had time to try to fix it yet.

[2019-01-12 09:41] Evizero commented on #40
oh, i rediscovered this in #43 . should be fixed

[2019-01-12 09:41] #40 closed

[2019-01-12 11:43] Evizero opened #44 "Documentation not updating"
Travis says `[ Info: skipping docs deployment.`. Any ideas why? Could it be the one failing doctest that print the testimage download?

https://travis-ci.org/JuliaImages/juliaimages.github.io/builds/478700837

[2019-01-12 13:04] timholy commented on #44
https://github.com/JuliaImages/juliaimages.github.io/commit/98bf07589024f9fe43139e70dc2bed75da8c054e#commitcomment-31781807

I've been swamped with other things and haven't looked into reverting that commit and its neighbor.

[2019-01-12 14:04] Evizero commented on #44
I have cherrypit that commit earlier today (i.e. its gone and I forcepushed)

[2019-01-12 19:12] timholy commented on #44
I belatedly noticed that. Many thanks!!

I put that in to try to debug deployment, but I think more recent versions of Documenter don't require that anymore. So it could probably be deleted.

Seems like there are many unresolved links. Do you get that when you build locally?

[2019-03-15 11:14] INT-ZC opened #49 "Chinese Translation"
Hi, I am Zhiyuan, currently doing BIT at the ANU. I'd like to translate all the docs to Chinese.  Is there anything I need to know?

[2019-03-28 15:20] johnnychen94 commented on #49
I'd like to offer some help if you initialize the project. And feel free to ping me when you're doing this.

If things go well, there'll be some big changes on docs to improve the quality of docs this summer [my GSoC project](https://github.com/JuliaImages/Images.jl/issues/783)

[2019-03-29 03:50] johnnychen94 commented on #44
The "Skipping deploy" comes from deprecated `deploydocs` keywords: `julia` and `osname`

see:
https://github.com/JuliaDocs/Documenter.jl/blob/c59fe92f880e7acfbf2610fed0c70dc364e4c3a0/src/Documenter.jl#L500-L513

[2019-03-29 07:49] #44 closed

[2019-04-28 12:11] johnnychen94 opened #52 "add documentation on deprecating Integer type and in favor of FixedPoint{Normed}"
We need to

related issues:

https://github.com/JuliaImages/ImageCore.jl/pull/76#discussion_r279187928

[2019-04-28 12:45] timholy commented on #52
We already have quite a lot of documentation on this:
- https://juliaimages.org/latest/arrays_colors/#fixedpoint-1
- https://juliaimages.org/latest/arrays_colors/#A-note-on-arithmetic-overflow-1

What's the specific proposal?

[2019-04-28 12:57] johnnychen94 commented on #52
Folks around me say the documentation is hard to read and understand.
I'm planning to reorganize the current materials of JuliaImages documentation at some time point, this issue serves as a memo.

( mistakenly hit the `Enter` before I draft the issue 😂)

[2019-04-28 13:24] timholy commented on #52
I worry about that too. It will definitely help if other people work on it, it's always a bit dangerous when the person who writes the code also writes the documentation.

[2019-05-19 04:10] allomorphy opened #53 "Broken links in https://github.com/JuliaImages/juliaimages.github.io/blob/source/docs/src/quickstart.md"
Just a heads up, that all the links in this page except for the second
 one are 404. Of course, it could be that I am seeing an artefact from looking directly at the sources.

Best wishes
Eric

[2019-05-19 07:43] johnnychen94 commented on #53
thanks for the report

If you click from source code, it would jump to
`https://github.com/JuliaImages/juliaimages.github.io/blob/source/docs/src/@ref` This behavior is expected. These `@ref`s will be translated to the real cross-reference links when generated by `Documenter.jl`.

https://juliadocs.github.io/Documenter.jl/stable/man/syntax/#@ref-link-1

[2019-05-19 08:39] timholy commented on #53
They work for me on https://juliaimages.org/latest/quickstart/. If they don't for you, please re-open.

[2019-05-19 08:39] #53 closed

[2019-08-19 14:49] davidbp opened #60 "Array casting from channelview question"
Hello,

I am not sure about how to get an Array containing the values resulting from a convolution to an image.

This is what I tried:
[code]
prints
[code]
Which I don't quite understand.

Nevertheless, when working with `Pad()` (or nothing which defaults to Pad) then the API behaves as I would expect:
[code]
Prints
[code]

- How can I get an Array in the first case?

- Is there a method to retrie

[2019-08-19 14:59] davidbp commented on #60
I´ve seen I can do this

[code]
Which returns exactly what I wanted
[code]
I think it is too complicated and prone to errors.  I´ve inserted `(3, 254, 254)` manually. Is there an straightforward way to do this that I missed?

If not I can work on a function to do this because it´s very useful to convert an image to an Array for various reasons (working with other packages, comapring results with o

[2019-08-19 16:10] johnnychen94 commented on #60
Hi, you can try `collect` or `float.` instead of `Array` here.

Use `Array` to do conversion is prone to error for arrays that are not 1-based. E.g., `Array(centered(rand(3, 3)))` raises the same error here.

[2019-08-25 08:03] davidbp commented on #60
Thanks @johnnychen94 , maybe adding an example to the documentation would help future users.

[2019-08-25 08:05] johnnychen94 commented on #60
@davidbp Yes, and I deliberately keep this issue open until I add this to documentation :D

[2019-08-25 10:15] timholy commented on #60
@davidbp, it's worth asking why you need an `Array`. Have you read [this doc section](https://juliaimages.org/latest/indexing/#Keeping-track-of-location-with-unconventional-indices-1)? And/or [this blog post](https://julialang.org/blog/2017/04/offset-arrays)?

The point is, the existing behavior:
[code]
tells you far more about the meaning of the result than if we returned a 254×254 Array. You're

[2019-08-25 10:42] davidbp commented on #60
Hello Tim,

About
`You're trying to make Julia throw away a lot of useful stuff simply because Matlab/Python can't handle stuff like that.`

You are kind of right, but sometimes, I might want to use BLAS or other code that expects arrays of float32/float16 values. This kind of conversion is relevant and used, for example, in most flux tutorials.

[2019-08-25 11:13] timholy commented on #60
Fair enough. But of course the *right* answer is to rewrite BLAS in Julia (which might actually happen some day, the benchmarks are starting to look rather encouraging), so that one gets the power of Julia's abstraction without sacrificing the performance of BLAS.

Meanwhile, it's a very simple operation to discard the unconventional axes (hint: `parent`), so do read that blog post.

[2019-08-25 11:26] johnnychen94 commented on #60
As a complementary:

It's not always right to call `parent`. For example, when the real data is hidden two layers deep:

[code]

[2019-08-26 08:50] timholy commented on #60
Oof, good catch. I thought we'd fixed that in https://github.com/JuliaArrays/OffsetArrays.jl/pull/67, but I guess we didn't cover enough cases.

[2019-08-26 10:27] johnnychen94 commented on #60
I think returning the _direct_ parent array is the expected behavior of `parent` and there's no need to fix. For example, `parent(::SubArray)` and `parent(::MappedArray)` work the same.

[2019-11-22 20:01] johnnychen94 opened #65 "Introduce DemoCards.jl to demonstrations"
I built a [`DemoCards.jl`](https://github.com/johnnychen94/DemoCards.jl) at the end of this summer as a tool to organize all demo files. This package is still at its early stage and a lot of features need to be implemented, but I'd like to open this issue as a notification in case some of you plan to do similar work.

A demo of `DemoCards.jl` can be found [here](https://johnnychen94.github.io/Demo

[2019-12-07 11:58] #65 closed

[2019-12-21 21:27] johnnychen94 opened #101 "add random seed to quickstart and demos"
Otherwise, even the unrelated commits would increase the diffs.

[2020-01-01 05:15] johnnychen94 opened #103 "consistent method dispatch"
This is not a trivial work that can be done in a short time.

I've added some simple but useful traits to `ImageCore v0.8.2`, which can be used throughout the JuliaImage repos.

For example:

[code]

where
[code]

I can think of three advantages adapting this seems-trivial notation:
* ecosystem-wide consistency on supported input types.
* by reducing manually coding on complex and lengthy type dis

[2020-01-01 05:19] johnnychen94 commented on #103
I've transferred this issue to juliaimages.github.io because I think there's a need to document this; when we start to like multiple dispatches, we tend to dispatch on everything.

[2020-01-27 10:38] johnnychen94 opened #108 "add FAQ pages"
When I was new to JuliaImages, there're some issues I've met and I think they can also be problems of others. For example:

* [what kind of image an Array{Float64} of size (256, 256, 3) should be?](  https://github.com/JuliaImages/ImageCore.jl/issues/77)
* [cat Arrays without promotion?](https://github.com/JuliaImages/ImageCore.jl/issues/79)

[2020-02-15 18:32] johnnychen94 opened #111 "add documentation for ImageDistances and ImageQualityIndexes"
There should be a page/section for it in the main documentation

[2020-02-25 22:50] kczimm opened #113 "radon/iradon functions"
I was looking at the [API comparison](https://juliaimages.org/latest/api_comparison/) and noticed the lack of `radon` and `iradon` transform implementations. Does JuliaImages want implementations of these functions? If so, what repository should a PR go to? I am happy to implement them. They would be similar to functions in a [package](https://github.com/kczimm/PrinciplesCTImaging.jl) I developed

[2020-02-25 23:02] timholy commented on #113
Would be great to have!

There's a `randon` method here: https://discourse.julialang.org/t/radon-and-iradon-transforms/2407/11?u=tim.holy, you might compare your own implementations to it. Would need tests and `iradon`, of course.

Where should we put it? Perhaps we need an ImageReconstruction.jl package?

[2020-02-25 23:14] johnnychen94 commented on #113
Sure, and a good place for MRI related codes

[2020-02-26 00:43] kczimm commented on #113
I love it. I’ll start it and hopefully I can get some periodic feedback from you all.

[2020-02-26 00:47] kczimm commented on #113
@timholy it looks like the implementation from discourse was a ray-driven method whereas I implemented a pixel-driven method. It would be nice to have both, I think. I’m not sure how we would present the API but that can be worked out.

[2020-02-26 01:32] timholy commented on #113
We've chosen algorithms by a variety of methods; for example, ImageFiltering has ways to choose FIR or FFT. But a lot of that API was before Julia's keyword-arguments were mature, so I'm not sure I'd do it that way now. If the output type is independent of the algorithm, I think a keyword switch would be just fine.

I just set up ImageReconstruction.jl and invited you, @kczimm.

[2020-02-26 01:47] johnnychen94 commented on #113
Another set of API I and @zygmuntszpak being favor of is to wrap algorithm into a struct (with or without fields), for example,

https://github.com/zygmuntszpak/ImageBinarization.jl/blob/a9c7842a81b23873fb8189d9b55c00014ef93e0e/src/algorithms/adaptive_threshold.jl#L79-L88

The idea is to first implement each algorithm independently and layer them up with a nice and meaningful name (e.g., `reconstr

[2020-04-11 05:35] johnnychen94 commented on #113
I'm closing this as it's no longer an issue now.

[2020-04-11 05:35] #113 closed

[2020-04-17 20:09] #101 closed

[2020-04-18 22:27] johnnychen94 opened #132 "[RFC] deprecate ColorizedArray and IndirectArray"
This might not be a good suggestion but I'd like to propose it to get your thoughts

I'm wondering if there's a real-world case that these two lazy arrays make a performance difference; otherwise, these two array types introduce unnecessary abstraction and become a burden for both users and maintainers.

[code]

[code]
![image](https://user-images.githubusercontent.com/8684355/79672660-cf722380-82

[2020-04-18 22:48] johnnychen94 commented on #113
I'm wondering if @JeffFessler is interested in introducing his MIRT into JuliaImages

[2020-04-20 02:18] JeffFessler commented on #113
Yes, I am interested.  I could work on it after the semester ends.  What would that entail?
MIRT.jl already has the equivalent of "radon" for parametric objects (namely ellipses and rectangles) for making sinograms (parallel beam and fan beam) of phantoms like the Shepp-Logan phantom.  But I have not yet ported FBP from matlab to Julia.

[2020-04-20 18:57] johnnychen94 commented on #113
If the final goal is to reexport MIRT from Images.jl...

I noticed the codebase has a lot of MATLAB-style legacies (e.g., https://github.com/JeffFessler/MIRT.jl/blob/master/src/mri/mri_objects.jl#L494-L503), so it might be reviewed and perhaps partially rewrote accordingly in the Julia style.

MIRT seems to contain codes including IO, algorithm, and display. Not very sure how codes are developed,

[2020-04-21 10:32] timholy commented on #113
@JeffFessler, it would be great to collaborate! MIRT seems so big that we probably don't want to re-export it from Images.jl, but having it well-integrated into the JuliaImages ecosystem would be a huge win. Let us know what kind of support you might need.

[2020-04-24 20:58] JeffFessler commented on #113
@timholy, I chuckled that you called MIRT "so big" because the Julia version currently is about 11k lines where as my Matlab version is over 130k lines.  So the 11k is just the tip of the iceberg :)
(I've been wondering if I should break it down into multiple smaller packages...)
Anyway, maybe you can point me to something that is "well integrated into the JuliaImages ecosystem" as an example that

[2020-04-24 22:01] johnnychen94 commented on #113
It is big because of the large dependency. Unlike the commercial product MATLAB, in the "free" open-source world, a large dependency chain across multiple organizations usually means a hard-to-maintain package; for many reasons, people may stop development and its also likely to get lost when resolving the compatibility. Breaking it down into multiple smaller packages have real merits for MIRT to

[2020-04-25 10:46] timholy commented on #113
Hah! How much of the functionality of the Matlab version is present in the Julia version? I.e., is the Julia ecosystem wildly efficient or is it mostly just a difference in comprehensiveness?

What I would define as a "big" dependency is one that would substantially increase the time needed for `using Images`:

[code]

We've kept some significantly smaller packages out (though we could reconsider

[2020-04-27 17:32] JeffFessler commented on #113
Thanks for the pointers.  I'll look at this more after finals are graded.
(To answer your question, I've probably ported <10% of the Matlab code to Julia so far.)
I suspect that MIRT's dependence on Plots is a significant factor in its slow startup.
I'm not ready to untangle that though because having test/demo routines co-located with the algorithms seems quite convenient and helpful for end user

[2020-04-27 17:53] timholy commented on #113
As PackageCompiler matures this will become easier to arrange. I think the plotting libraries are on a steeper trajectory of changes, so the ~6-month release cycle of Julia itself is not ideal.

[2020-04-28 01:11] johnnychen94 opened #127 "a better place for "function categories""
https://juliaimages.org/latest/quickstart/#Function-categories-1

I personally find this section less useful than https://juliaimages.org/latest/api_comparison/ and https://juliaimages.org/latest/function_reference/ so it might be a good idea to remove it, or to find a better place/form for it.

[2020-04-28 01:14] johnnychen94 opened #128 "aggregating the sub-packages' documentation here"
Currently, documentation of sub-packages are spread outside, common users can easily get lost in finding the correct docs. It would be handier to have a centralized version of documentations for reference usage.

cref: https://github.com/JuliaImages/juliaimages.github.io/pull/125#issuecomment-617137555

[2020-04-28 01:23] johnnychen94 commented on #111
#125 has added references for these two packages. Now what's left is to add design and usage docs for them in the "Packages" part.

[2020-05-13 17:21] fghzxm opened #129 "Should Gray be <: Number?"
Since `Gray{T}` supports whatever numeric operations `T` supports, I think it is reasonable to make `Gray <: Number` so that code that accept `Number`s also work with `Gray`.  I personally encountered this problem when I tried to do `DSP.conv` between two grayscale images: since `DSP.conv` only works with arrays with eltype `<: Number`, I had to convert my arrays back and forth between `Array{Gray

[2020-05-16 15:09] timholy commented on #129
I think DSP should look at dropping the Number requirement, presumably anything that supports + and * should be good enough? Or does it use FFTs?

Note ImageFiltering supports correlation and colors.

[2020-05-22 19:45] galenlynch commented on #129
DSP does use FFTs for its convolution at the moment, though it would be great to add a direct convolution method which just uses * and +, and would allow for arrays of non-numbers. Of course I could look this up myself, but out of curiosity does ImageFiltering support FFT convolution of `Colorant` data? Last time I looked at the convolution options on ImageFiltering, I seem to remember being able

[2020-05-23 08:43] timholy commented on #129
Since it's designed to work for images, it looks specifically for colors and uses `channelview` on arrays of colors. This is only needed for FFTs, for FIR implementations `::Real * ::Color` is well-defined.

[2020-06-08 17:16] natema opened #130 "Cropping using Images"
After searching how to crop an image in the docs, I realized that `PaddedView` can be used to do that.
Perhaps it would be useful to mention in its docstring that PaddedView also works if the output image size is smaller than the input one, effectively implementing a cropping functionality, so that the function would show up when searching for related keywords.

[2020-06-09 03:00] johnnychen94 commented on #130
I'm not sure if I get your idea correctly, could you provide a demo for that? If available, a [democard](https://juliaimages.org/latest/democards/examples/) could also be helpful for others.

[2020-06-09 07:44] timholy commented on #130
The easiest way to crop is indexing: `img[102:418, 208:511]`.

[2020-06-09 08:05] natema commented on #130
@johnnychen94 sorry, I agree that my paragraph above is indeed a bit confusing.
Some details about my specific use case could be helpful.
I have to pad and crop images of various sizes so that they're all $n\times n$; some image size are greater, some smaller than $n$.
I was then going to first crop the *extra* entries by indexing, as @timholy suggested, and then padding with `PaddedView`. I then

[2020-06-09 08:13] timholy commented on #130
No, seems worth documenting. Any changes you want to propose to improve the documentation would be welcome. As @johnnychen94 suggests, a demo card would be particularly awesome, but really anything would help.

[2020-06-10 03:07] johnnychen94 commented on #130
Although the trick seems trivial (PaddedView [restricts/expand its index](https://github.com/JuliaArrays/PaddedViews.jl/blob/1ed7fa0abfc1ac85a0238e0938a81ca0184aa471/src/PaddedViews.jl#L154) if it is explicitly provided), that is something I didn't come up with and I think it worth a demo here.

[2020-06-29 05:11] johnnychen94 opened #135 "add Gautam as collaborator"
If @mgautam98 is interested in contributing the documentation,  I propose to add him as the collaborator so that he can benefit from the push preview feature. An example of this can be found at https://github.com/JuliaImages/juliaimages.github.io/pull/116

To enlarge the JuliaImages team, we definitely need more advanced contributors and regular developers. I learned a lot when I [updated the quic

[2020-06-29 06:56] mgautam98 commented on #135
That would be great. Preview feature is interesting and will be helpful. Yes, I am definitely interested in this.

[2020-06-30 06:52] timholy commented on #135
Welcome, @mgautam98, to the docs team!

[2020-06-30 06:52] #135 closed

[2020-06-30 09:05] johnnychen94 opened #139 "document the difference between float32 and Float32, etc."
We need to advertise the usage of lower-cased form as it's simpler and more generic:

[code]

Ref: https://github.com/JuliaImages/ImageQualityIndexes.jl/pull/20

[2020-06-30 23:20] pauljurczak opened #141 "Broken link"
Documentation page https://juliaimages.org/stable/quickstart/# has a broken `Edit on Github` link.

[2020-06-30 23:22] pauljurczak commented on #141
Never mind. It works if I select dev version.

[2020-06-30 23:22] #141 closed

[2020-07-01 00:13] johnnychen94 commented on #141
This is because the folder structure is changed recently in https://github.com/JuliaImages/juliaimages.github.io/pull/125 and hasn't yet push to the stable version.

[2020-07-01 00:34] johnnychen94 opened #143 "explain the orientation convention"
Not sure if this is documented somewhere, but the column-major orientation seems to cause some confusion and is abused somehow.

One such example is that Flux follows the same convention from Pytorch and Tensorflow, calling it WHCN order, while almost the whole community uses `permutedims(channelview(X), (2, 3, 1))` to convert the data. Yes, this is more friendly to memory layout than `permutedims

[2020-07-01 04:37] johnnychen94 opened #145 "document the performance caveat on abstract eltype"
`Gray.(img)` is used widely tha `Array{Gray, 2}(undef, sz...)` or `ones(sz)` becomes very alluring to users. However, there's a significant performance differences here:

[code]

This is probably a JuliaImages specific confusion, because when we write `Array{AbstractFloat, 2}` we know it's an abstract type. But for `Gray` it's very likely that users don't get this.

[2020-07-01 07:19] timholy commented on #145
The same issue comes up if you declare a field
[code]
because you've failed to specify the dimensionality. It happens for any parametric structure that you don't provide values for all fields.

But I agree that we might want to have a section somewhere early for Julia newbies. As you know, getting this wrong affects not just the initial allocation but also the subsequent usage of the object.

[2020-07-02 08:40] johnnychen94 opened #151 "advertise `ccolor` in writing generic code"
Functions in JuliaImages should accept both numerical array `AbstractArray{<:Number}` and colorant array `Abstract{<:Colorant}` if possible.

It is not uncommon to infer the return eltype in the beginning of the algorithm so as to pre-allocate array. I previously have two versions of codes to achieve this. The first version is:

[code]

Then one day I found out that `eltype(Float32) == Float32`, w

[2020-07-02 10:31] kimikage commented on #151
The `ccolor` is a convenient and powerful function for such a purpose. However, `ccolor` is not so "generic".

For example:
[code]
(This is not a bug.)

However, at least for gray and rgb colors, it should work as expected. So, I also feel `ccolor` is worth documenting.

[2020-07-12 14:00] johnnychen94 commented on #49
@timholy would you mind I set up the Chinese version documentation here in this repo?

I didn't try it yet, but I guess it can be `https://juliaimages.org/en/stable/` by default, and `https://juliaimages.org/zh-cn/stable/` for the Chinese.

[2020-07-12 16:17] timholy commented on #49
I don't know what's involved myself, but out of principle I'm extremely enthusiastic about having our documentation available in multiple languages. The only thing that scares me is keeping them all updated with one another. I am planning a major rewrite at some point, though the funding to help support that has not yet materialized.

[2020-08-26 10:50] #12 closed

[2020-09-08 20:08] johnnychen94 opened #154 "document the array-of-structure and structure-of-array layout"
JuliaImages uses the array of structure layout to fully use the multiple dispatch mechanism without introducing too many ambiguities. Intrinsically, this array-of-structure layout is slower than structure-of-array layout when we need a contiguous memory per channel.

For example, compute the norm of a RGB image:

[code]

I was only aware of this issue months ago and still not very familiar with th

[2020-09-08 20:25] timholy commented on #154
Yes, we should document this. But I am actually gradually working on this area now (the `ReinterpretArray` work is part of it) and I am planning to provide better support for other layouts.

[2020-09-23 06:27] johnnychen94 opened #160 "build dev version with packages at master branch"
There are several cases that we need this:

* docs bug fixes: https://github.com/JuliaMath/FixedPointNumbers.jl/pull/229
* a new change is provided in sub-packages, but not yet available in registered versions: https://github.com/JuliaImages/juliaimages.github.io/pull/61

Although it can be alleviated a lot, this need still exists even if we move the documentation back to each sub-packages.

I'll

[2020-10-28 11:41] ashwani-rathee opened #164 "Discussion on making more demos to showcase abilities of Julia and libraries for Images"
Hey Guys,I am Ashwani Rathee,undergraduate cs student at UIET,Panjab University,India
Saw this on: https://julialang.org/jsoc/gsoc/images/
I have explored JuliaImages in past: https://github.com/ashwani-rathee/Learning-Julia/blob/master/ImageProcessing%20in%20Julia.ipynb
And would love to contribute through examples: @timholy and @zygmuntszpak guide me on this and give me some direction to work on

[2020-10-28 12:34] johnnychen94 commented on #164
Hi Ashwani, thanks for your interest in JuliaImages!

Currently, demos in JuliaImages are managed by [DemoCards](https://github.com/johnnychen94/DemoCards.jl). Existing demos are spreaded in multiple packages: [juliaimages.github.io](https://github.com/JuliaImages/juliaimages.github.io) as the main doc, [ImageFiltering.jl/docs](https://github.com/JuliaImages/ImageFiltering.jl) for image filtering

[2020-10-29 06:09] ashwani-rathee commented on #164
Hey @johnnychen94 ,for the demos..is there any kind of preference for mosaicview over the plots.jl for showing the images??

[2020-10-29 06:18] johnnychen94 commented on #164
`mosaicview` is a very convenient tool to preview multiple images in one-line of code. This is an advantage when making demos. `Plots.plot` definitely works, but it is quite heavy a dependency so I'd try to avoid its usage.

This is just a preference, if there's a use case that can only be covered by Plots.jl, then use it. For example, if you're going to show something like this, then use Plots:

[2020-11-21 12:39] ashwani-rathee commented on #164
Hey @johnnychen94 ,I was trying to put my demos in the juliaimages website code..I followed the instructions in guide on front page(https://github.com/JuliaImages/juliaimages.github.io). But errors were there that i found
`(base) ashwani@user:~$ cd julia-related/
(base) ashwani@user:~/julia-related$ cd juliaimages.github.io/
(base) ashwani@user:~/julia-related/juliaimages.github.io$ julia --projec

[2020-11-21 12:42] johnnychen94 commented on #164
you could find the built documentation in `docs/build/index.html`, open it in chrome or whatever web browser.

[2020-11-21 13:05] ashwani-rathee commented on #164
so @johnnychen94  it will update automatically when I add the demos and run this code ,right??

[2020-11-21 13:07] johnnychen94 commented on #164
correct, after you succesfully see `docs/build/index.html` file, you can add your new demo files in `docs/examples`. DemoCards detects whatever the demos you added, preprocess, and then pass to Documenter.

[2020-11-22 05:55] ashwani-rathee commented on #164
@johnnychen94 I was a little confused by the build_histogram after I get the values,do I have to build the histogram myself from the output or am I missing anything?

[2020-11-22 12:31] ashwani-rathee commented on #164
Is there a space for demo on image binarization here??I will do it using the methods in Image Binarization Package

[2020-11-22 17:10] johnnychen94 commented on #164
ImageBinarization has an overly detailed explanation in the docstring. My personal idea is to set up a new demo page in ImageBinarzation's own documentation (not here), and move those explanations from docstrings to demos. In the future, we could gather all those cards into this repo with the help of https://github.com/johnnychen94/DemoCards.jl/issues/72

[2020-11-23 10:56] ashwani-rathee commented on #130
I wish to take this up,I am almost done with demo for resize,scaling..should I include cropping in that one only or separately??

[2020-11-23 11:10] johnnychen94 commented on #130
Good to know that you're interested.

I assume none of them are sufficiently long? These seem to be spatial transformations so might be good to be one demo. You could also find some ideas from https://evizero.github.io/Augmentor.jl/stable/democards/operations/

FYI, I've also introduced PaddedViews in https://juliaimages.org/stable/democards/examples/spatial_transformation/alpha_compositing/#Alpha

[2020-11-24 16:14] ashwani-rathee commented on #164
Is there need for demo for creating ImagePyramids?ImagePyramids are used to implement algorithms for denoising, texture discrimination, and scale-invariant detection like [here](https://scikit-image.org/docs/stable/auto_examples/transform/plot_pyramid.html#sphx-glr-auto-examples-transform-plot-pyramid-py)

[2020-11-24 17:28] johnnychen94 commented on #164
Since you're adding a bunch of demos, I'd like to introduce you to `preview_demos("demo_file.jl")` or `preview_demos("path/to/demos_dir")` if you haven't try it.

See also: https://johnnychen94.github.io/DemoCards.jl/stable/preview/#Example-%E2%80%93-JuliaImages

[2020-11-25 14:23] ashwani-rathee commented on #164
There are several ways to create Imags pyramids that I found:
### using padded views and chat,array of arrays:
[code]
![](https://i.imgur.com/3Baf7sl.png)
I like this one as there is lot of parameters that can be put into loops...and can be general
### using mosaicview
[code]
![](https://i.imgur.com/rxEcC65.png)
### using Plots
[code]
![](https://i.imgur.com/AOSFMvs.png)

There are many other ways

[2020-11-25 15:03] johnnychen94 commented on #164
The current `mosaicview` is built based on `paddedviews` and `sym_paddedviews`, whose outputs are of the same size. For the purpose of pyramid visualization, it makes sense to not output images of the same size as your option 1 looks like.

I think it makes sense to improve how `mosaicview` works, instead of providing some dirty for loop in the demo. Here's what I have in mind:

* add a `dims` key

[2020-11-25 16:38] ashwani-rathee commented on #164
yes,I want to give this a try.

[2020-11-25 16:47] timholy commented on #164
I would also suggest mentioning `restrict`, which blows `gaussian_pyramid` away for 2x reductions:
[code]

[2020-12-05 15:38] #130 closed

[2020-12-08 17:15] tbenst opened #173 "Ordering of axes & dimensions"
Really enjoying the API of this package.

A bit confused by https://juliaimages.org/latest/pkgs/axes/#Names-and-locations. By convention, x is horizontal and y is vertical. But this does not seem to be the case:
[code]

Perhaps documentation should use `(:y, :x, :z)`?

[2020-12-14 10:51] ashwani-rathee commented on #164
Hey @johnnychen94 @zygmuntszpak ,I was working on canny edge detector demo using ImageEdgeDetection.jl
The demo started working just fine with Images.canny and the way I solved with it.
[code]
After seeing that @zygmuntszpak has registered new package,I wished to use that.
@zygmuntszpak solved most of it but I am stuck with creating random noise in image which I wanted to use to show significant d

[2020-12-15 06:16] ashwani-rathee commented on #164
Well,this rather simple issue can be solved by using Noise.jl by @roflmaostc ,rather than messing with the offset arrays
I noticed something rather unexpected in here
some salt_pepper helped in getting what I wanted,but what is happening out the image area which is padded,isn't it black  only??or (Gray 0 )
![](https://i.imgur.com/vIcPS8F.png)

[2020-12-15 11:22] zygmuntszpak commented on #164
As suggested by the error message, the reason this doesn't work is that `imgg` has indices that run from `-30:231` whereas the matrix of random noise that you wish to add has indices that run from `1:262`. The addition is undefined because you need the indices to match for all elements of the array. One way to resolve this involves changing the indices for the noise array by wrapping it with an Of

[2020-12-15 11:50] zygmuntszpak commented on #164
Thanks for investigating this. I've done some digging and noticed that neither my implementation in `ImageEdgeDetection` nor the current implementation in `Images` correctly handles data with `NaN` entries. The issue can be pinned to the fact that both implementations use the following code to Gaussian filter the image:
[code]
I'm not sure if this is by design, or whether it is a bug, but the  `Ke

[2020-12-15 12:38] timholy commented on #164
How big is `σ`? If it's just a couple of pixels it shouldn't matter much, and will also be more accurate.

[2020-12-15 13:02] ashwani-rathee commented on #164
σ  I used is 4

[2020-12-15 13:05] zygmuntszpak commented on #164
The default value of `σ` is usually small (between 1 and 2) pixels, so glad to hear Tim confirm that it shouldn't be too much of an issue.

[2020-12-15 14:05] timholy commented on #164
If anything it's probably better to avoid IIRGaussian below 2.

[2020-12-17 11:55] zygmuntszpak commented on #164
@ashwani-rathee I've tagged and released a new version of `ImageEdgeDetection` which should now solve the issue you were having with the NaN values.

[2021-02-15 20:47] ShivenTripathi commented on #164
Hey! I am Shiven, a sophomore at IITK.
I also looked through the previous JSoC projects, and, would love to contribute some demos myself!
I had a question on this, on [https://juliaimages.org/stable/], there's a separate section for demo cards while for some packages the demos are included in the docs. (like it is pretty obvious how to use Watershed for segmentation from[https://juliaimages.org/st

[2021-02-16 02:21] ashwani-rathee commented on #164
Hey @ShivenTripathi,what I understood from @johnnychen94 is that those demos maybe edited/changed or kept same depending on each case.Project idea is to kind of collect and showcase them in one organised place with democards.

Democards.jl is written by @johnnychen94 to kind of dynamically generate demos and associated assets with it.Since the examples in other place are written with different too

[2021-03-11 14:21] ashwani-rathee commented on #164
@johnnychen94 @timholy @zygmuntszpak I want to keep working on JuliaImages and surely more regularly than I'm currently working on this. I had several doubts regarding the projects for GSoC after the organization's list has been released . I think since my research interests are going into classification problems like classification of microbes in water bodies that help determine the water quality

[2021-03-11 15:10] johnnychen94 commented on #164
I'm glad that you're interested in GSoC.

GSoC 21 is quite different from previous years since it cuts the timeline from 18 weeks to 10 weeks. The project ideas listed on https://julialang.org/jsoc/ are mostly added years ago so it may not suit this year. In very short words, a potential GSoC project should:

1. has a mentor in the community that is willing to guild you
2. benefit others

and of c

[2021-03-11 15:59] JeffFessler opened #179 "Links to source not shown in JuliaImages docs"
The JuliaImages documentation is very nice but it seems to lack the blue rectangular links to the "source" code that appear in most (Documenter generated?) docs.  I am a bit perplexed why they are missing because I thought Documenter did that automatically.  I would make a PR if I could, but I couldn't figure out from the Documenter docs how one controls visibility (or not) of source code links.

[2021-03-11 16:03] johnnychen94 commented on #179
I'm not sure if I understand what "the blue rectangular links" is. Do you mean the "Edit on Github" button? Or could you provide an link/example where this is missing?

[2021-03-11 20:55] JeffFessler commented on #179
For a "typical" Documenter output viewed in html in a browser like this:
https://jefffessler.github.io/MIRT.jl/dev/reference/
if you hover your mouse in the bottom right of the documentation area for a function then a light blue rectangle appears with the word "source" in it that is a url that goes to the source code.
I'll try to paste a picture in the next comment box.
(Personally I think it woul

[2021-03-11 20:56] JeffFessler commented on #179
<img width="1143" alt="Screen Shot 2021-03-11 at 3 50 31 PM" src="https://user-images.githubusercontent.com/10170422/110853956-3f0b5a00-8282-11eb-89c7-8f30b0b0f1a1.png">

[2021-03-11 21:20] johnnychen94 commented on #179
Oh right. This button seems to appear only when the source code folder `/src` is placed at exactly the same repository.

For the juliaimages.github.io, we build the documentation in a separate repository so that package source codes are minimized (when user installs `Images`, they don't download the docs). Since Documenter can't figure out what the correct URL source is, why it doesn't display the

[2021-03-11 21:20] #179 closed

[2021-03-12 03:07] JeffFessler commented on #179
Thanks for looking into it.  I've looked more at Documenter "issues" and it seems that others would also like to have the blue source button point to related repos:
https://github.com/JuliaDocs/Documenter.jl/issues/1273
https://github.com/JuliaDocs/Documenter.jl/issues/1325
So for now we wait until such issues are resolved.  Thanks again.

[2021-03-12 09:20] timholy commented on #164
Just FYI some time ago I updated that project list to reflect the changes this year. The long-term goals aren't different than before but I tried to specify a "minimum needed to declare victory" that I hoped was not insanely ambitious.

The decisions for student selection are based largely on a combination of enthusiasm for the trainee and the project. I would say that the trainee matters more tha

[2021-03-19 02:28] ashwani-rathee commented on #164
@johnnychen94  I am currently thinking of adding around 20 new demos(also solving function related issues that come with it and help in add some new functionalities too like dims,fill,thickness issues in ImageDraw.jl),restructuring some old ones into better pieces,bringing relevant demos in various repos of JuliaImages to central JuliaImages demos base.
Is it too little workload or too much for pr

[2021-03-20 02:48] johnnychen94 commented on #164
Adding plenty of demos definitely helps a lot. However, I encourage you to slow down a bit and focus on adding missing functionalities. Here's my consideration:

From your side point of view, participating GSoC is a good chance to get your code reviewed by people who already know Julia well so that you know the taste of Julia better and will be more likely to write reliable and performant Julia co

[2021-03-20 02:51] johnnychen94 opened #182 "broken demo: "Cropping, Resizing and Rescaling""
I don't see any code results and a cover is missing for demo: [Cropping, Resizing and Rescaling](https://juliaimages.org/stable/democards/examples/spatial_transformation/SpatialTransformations/#Cropping,-Resizing-and-Rescaling), @ashwani-rathee could you please help fix this?

[2021-03-20 02:54] ashwani-rathee commented on #182
@johnnychen94 Sure,though I did test it before pushing it online...can you tell what could be the issue?

[2021-03-20 03:09] johnnychen94 commented on #182
According to the CI log(e.g., https://github.com/JuliaImages/juliaimages.github.io/runs/2118016729), it seems that we need to add `ImageTransformations` to `Project.toml`.

[code]

[2021-03-20 03:15] johnnychen94 commented on #182
This happens when you have `ImageTransformations` installed in your root project. When a package is not specified in `Project.toml` (or more correctly, in `Manifest.toml`) of the project folder, julia will try to find and load it in `DEPOT_PATH` order:

[code]

In my case, Julia will finds this package in `/Users/jc/.julia/environments/v1.6/Manifest.toml`. However, every build in CI is a [clean se

[2021-03-20 03:53] ashwani-rathee commented on #164
@johnnychen94 I really hope it works for you there in halide community and let's see how it works for me.It always works out just fine.Though with the choice of content that goes in my timeline that part really needs some rethinking.

[2021-03-20 03:58] ashwani-rathee commented on #182
@johnnychen94 Okay,I'll just update it with ImageTransformations addititon,Should I create another PR for that or can the merged PR can be reverted and opened again?

[2021-03-20 04:00] johnnychen94 commented on #182
When a PR is merged, it can only be reverted. So yeah please create a new PR.

[2021-03-20 11:30] ashwani-rathee commented on #164
@johnnychen94 Can you give an idea on how the image restoration algorithms in Julia Images are organised ? I think some of them are in imagefiltering.jl  though not most of them
Like :
-  Richardson-Lucy deconvolution
- Unsupervised Wiener-Hunt deconvolution
- Wiener-Hunt deconvolution

[2021-03-20 11:58] johnnychen94 commented on #164
Unfortunately, as far as I know, none of them are formally available in JuliaImages yet...

[2021-03-23 03:46] johnnychen94 commented on #164
@ashwani-rathee I've seen your passions throughout all the discussions in the issues you opened. That's a good thing, yet I still have some words to say about it and the GSoC application you're preparing:

The first thing is about pinging others with @. There are three scenarios that we ping others.

1. CC to people who doesn't not watch the repo. This helps notify others and get more people invol

[2021-03-23 04:45] ashwani-rathee commented on #164
Okay,I didn't knew that @ would be an issue.I will stop that,though it wasn't intentional to catch attention...

You also mentioned that I'm not being independent enough(maybe it's my anxiety that makes me need more conversation than open source usually offers). I try to make demos as it's a project I wish to work for this year.It's not that I can't make feature PRs,but I feel the examples section

[2021-03-23 05:57] johnnychen94 commented on #164
No worries, I believe you're not intentional and nobody will blame you on this. Because most people have their daily work and are usually quite busy,  the key convention in the open-source world is that "if you save our time (e.g., by giving detailed and reproducible bug reports, easy-to-review PR, well-organized proposal), then we will save yours (e.g., by fixing bugs, providing feedbacks)". If y

[2021-03-23 05:57] #182 closed

[2021-03-28 11:03] ashwani-rathee commented on #173
This was a rather interesting one for me too  because if you look at the cartesian Index and indexing of images of the two images like
It did got me quite confused and I had to do dry runs of algorithm with actual graph 😄
img[2nd dim,1st dim]
2nd dim looks like it represents y-axis,and 1st dim looks it represents x-axis but the thing that looks like the y-axis here is actually supposed to represen

[2021-03-31 04:18] johnnychen94 commented on #164
Disclaimer: I'm not a potential mentor so it requires @timholy and @zygmuntszpak to confirm.

---

A good observation. I'm also curious about how to appropriately choose between different algorithms.

:+1:

---

- ImageSegmentations.jl, ImageFeatures.jl and ImageInpaintings.jl are not actively maintained. ImageSegmentations and ImageFeatures were developed by previous GSoC students, they look good

[2021-03-31 17:12] ashwani-rathee commented on #164
I understand it's about taste/efficiency.With your comments and time on PRs,I am slowly and steadily developing a taste on how to do things,a month before:
- didn't know about or cared about benchmarking...now that's important
- never really felt the need to make proper tests....now I test like every 5 min

Thank you for reviewing,I'll update the proposal with the points you mentioned

[2021-04-08 10:57] JGameCreation opened #186 "Beginner questions on displaying images"
Hi,

I'm new to Julia and JuliaImages and have to very simple questions:
1.  How can I display images when I use VS Code (on Windows)? In Juno it's shown in the plots window but in VS Code it seems like it's shown nowhere.
2. When the function in the last line returns an image it is automatically displayed but how do I show an image earlier in my program?

Thanks!

[2021-04-08 11:02] juliohm commented on #186
Hi @JGameCreation please direct these user questions to the forums like Zulip and Discourse.

These questions aren't related to the Images.jl project specifically. You can always call `display(obj)` on any object in Julia to see a visual representation.

[2021-04-08 11:02] #186 closed

[2021-04-10 11:51] ashwani-rathee commented on #164
@timholy  @johnnychen94 @zygmuntszpak
I think I am close to a final proposal ,would like to hear feedback from you people on this version of proposal
Github: https://github.com/ashwani-rathee/GSOC-21-proposal
Overleaf: https://www.overleaf.com/read/gfjrnqjwcrds

[2021-04-15 13:25] johnnychen94 commented on #164
Curious to ask, do you by any chance know the GSoD event? https://julialang.org/blog/2021/04/gsod-2020-wrapup/

[2021-04-15 16:12] ashwani-rathee commented on #164
@johnnychen94 Actually I do,I do follow its schedule

[2021-05-01 02:30] dan-at-awesome-tech opened #190 "Initial experience - just want to display an image!!"
Hi, complete Julia newbie here.
Checking https://juliaimages.org/stable/tutorials/quickstart/ and dismayed to find no images shown and a cryptic "Don't worry if you don't get the "image" result, that's expected and you'll learn how to automatically display an image later in JuliaImages."
The function of showing something should be a mandatory first activity for an images package. Please restructur

[2021-05-01 04:56] johnnychen94 commented on #190
Will it be clearer if we provide a link to https://juliaimages.org/stable/install/#sec_visualization?

[2021-05-01 05:27] ashwani-rathee commented on #190
@dan-at-awesome-tech Hey there, I am assuming you're a scikit-image user. scikit-image has a tiny/quick `Getting started` snippet on the landing page https://scikit-image.org/ to show images from terminal. https://juliaimages.org/stable/ landing page gives a brief description about the org and then points to `Getting Started` which shows how to load, and show images in Ijulia/jupyter notebook. It

[2021-05-28 03:48] xgupta opened #194 "Tell user to run `using Images` in quickstart.md"
User get confuse why running `Gray(0.0) # black` giveing error in [quickstart.md](https://juliaimages.org/latest/tutorials/quickstart/#Array-elements-are-pixels-(and-vice-versa)).

See screenshot :
![junliaimage](https://user-images.githubusercontent.com/72094336/119926729-88239e00-bf95-11eb-937b-3284497abeee.png)

https://juliaimages.org/latest/tutorials/quickstart/#Array-elements-are-pixels-(and

[2021-05-28 03:52] xgupta commented on #190
This line should be displayed before because the user didn't get the image when run `img = rand(4, 3)` so spending their time on the internet why quickstart show the image but not their Julia terminal.

[2021-05-28 04:39] johnnychen94 commented on #194
A good change for me.

Previously, I thought users will run https://juliaimages.org/stable/install/ first so I didn't add this.

[2021-05-28 04:49] #190 closed

[2021-05-28 04:49] #194 closed

[2021-06-05 13:45] johnnychen94 opened #197 "Add JuliaImages logo"
Kindly provided by @cormullion https://gist.github.com/cormullion/8344a628032dace020889b2d07aaced3

We need to properly license it to protect it from being abused. For example, owners of JuliaImages is the copyright owner of this logo.

Words from https://github.com/JuliaLang/julia-logo-graphics/blob/master/LICENSE.md and https://discourse.julialang.org/t/trademark-guidelines-fair-use-policy-for-j

[2021-07-16 09:38] johnnychen94 opened #206 "[design practice] don't use`channelview`/`colorview` unless it's really needed."
I see people (including myself) overuse `channelview`/`colorview`; I reckon there should be a short blog on this topic to discuss some typical scenarios and if possible, provide a better alternative to it.

[2021-07-25 06:49] johnnychen94 opened #208 "redirect imagetransformation page to its own documentation"
https://juliaimages.org/stable/pkgs/transformations/ becomes outdated now, we should use https://juliaimages.org/ImageTransformations.jl/dev

[2021-07-28 05:07] johnnychen94 opened #211 "houseclean: compress the git history and previews"
With more commits in and the preview feature switched on, this repo history now becomes quite large and actually hurts the contributor experiences:

[code]

while the git history for our source branch is quite small:

[code]

This is due to the continuous push from our Documenter CI to the `master` branch's `dev` and `previews` folders

[code]

There are two options:

1. separate our source codes

[2021-07-28 08:00] timholy commented on #211
You know more than I, so I'd be supportive of whatever you think best. Just to double-check, since all commits are made on `source` this shouldn't have any impact on developers (other than positive), right?

[2021-07-28 08:26] johnnychen94 commented on #211
Correct, it won't affect normal development experiences. The only thing that might be worth noting is that PR previews will be deleted and thus preview URL will become 404 when that PR is merged.

After option 2, now the repo size is ~4x smaller in my fork: `44.83 MiB`(fork) compared to `158.91 MiB` (origin)

[code]

If we want to further reduce the repo size, we should then separate the current r

[2021-07-28 10:52] timholy commented on #211
Sounds good to me, I'm happy if you are.

[2021-07-29 11:43] johnnychen94 opened #212 "bring back histogram demo"
Because Plots breaks our CI, we temporarily remove it in #210 so that we can continue our demos PR. When there's a new Plots release, we can try and see if we can revert that commit.

[2021-07-29 12:51] #211 closed

[2021-08-15 16:59] johnnychen94 opened #217 "add a demo for L0Smooth"
I'd like to introduce a demo card for the newly developed L0Smooth algorithm by our OSPP student (@JKay0327) to our [demo gallery](https://juliaimages.org/dev/examples/). There's already comprehensive documentation for it in https://johnnychen94.github.io/ImageSmooth.jl/dev/algorithms/ but adding a small demo here makes it easier to be found.

Adding a demo should be simple enough:

1. add a new j

[2021-08-21 15:33] johnnychen94 opened #219 "Advertise TiledIteration and `mapwindow`"
I've seen people asking for the `im2col`/`col2im` equivalence in Julia, and the answer is to use iterators via `mapwindow` or `TiledIteration.jl`

[2021-08-21 15:39] johnnychen94 opened #220 "Don't spend your time on vectorizing your codes just to make things slower (CPU)"
People in Python and Matlab communities enjoy "vectorizing my image processing pipeline and getting a big performance boost" story. The only reason for that is because for-loop is slow in Matlab/Python, and vectorizing the pipeline is indeed a tradeoff between "calling fast C/Fortran backend" and "overhead in intermediate memory allocation".

In Julia, unless you're writing GPU codes, use simple f

[2021-08-22 02:17] kimikage commented on #220
This title seems like clickbait. I think the term "vectorization" needs to be used with caution. As you know, its usage in the Python community, i.e. using (NumPy) arrays instead of for-loops, is not so common in other languages (e.g. Julia).

The important thing to remember is that "premature optimization is the root of all evil".

A "best" practice for getting speed is to paste the target code i

[2021-08-22 04:46] johnnychen94 commented on #220
I'm trying to collect some ideas for a series juliaimages blog posts or tutorials to explain some of the core ideas. I open this as I believe this is something very important for users who are doing image processing in dynamic languages like Matlab/Python.

This actually isn't about premature optimization; in Matlab/Python a lot of people faithfully believe the power of vectorization when optimizi

[2021-08-22 07:13] timholy commented on #220
I agree that having a couple of short image-processing examples, coupled with a reference to a more detailed yet more general discussion elsewhere, would make a lot of sense.

[2021-08-22 09:28] OvidiusCicero opened #221 "Examples don't work without having ImageView loaded"
<https://juliaimages.org/stable/pkgs/segmentation/#Unseeded-Region-Growing>  and <https://juliaimages.org/stable/democards/examples/contours/sujoy_edge_demo/#Edge-detection-using-Sujoy-Filter> fail with `iterate not found` as well as `abs2` not found; I guess a more basic package is loaded by ImageView but I cannot find out which one

[2021-08-28 17:41] johnnychen94 opened #223 "Add some demos for `StreamingContainer` in ImageAxes"

[2021-08-30 09:20] johnnychen94 opened #224 "Split morphological demos into smaller pieces"
The current two demos added by #202 and #203 are perhaps too coarse for users to quickly get an overview from the cover images, thus I think it makes sense to have more smaller ones for:

- open and close
- erosion and dilation
- tophat and bothat
- morphological gradient and morphological laplace
- convex hull
- image filling
- image thining
- clear boarder

[2021-09-02 06:03] #132 closed

[2021-09-05 08:42] #212 closed

[2021-09-06 05:25] timholy opened #229 "Towards consistent style, part 1: a naming guide"
JuliaImages has grown over several years through the efforts of many people; now that Julia is itself stable, I anticipate new waves of growth in the coming years. To help ensure its health and vibrancy, I think we need to establish some guidelines that will help give such a large, distributed project a unified feel. To me, step 1 of this process is to develop a naming guide and to rename some of

[2021-09-07 01:21] johnnychen94 opened #230 "Revisit our "Comparison with other image processing frameworks""

[2021-09-07 01:38] johnnychen94 opened #231 "tutorial on integral image"
I believe we need an `IntegralArrays` version of https://juliaimages.org/stable/examples/color_channels/indexed_image/#demo_indexed_image

[2021-09-09 21:26] timholy commented on #231
That's an `IndirectArray` tutorial, not an `IntegralArray` tutorial. I don't see any tutorials that use the (soon to be deprecated) `integral_image`, am I missing something?

[2021-09-10 01:42] johnnychen94 commented on #231
Oh sorry for the inaccuracies. I notice the examples in https://github.com/JuliaImages/IntegralArrays.jl is pretty thin, I think we need a more insightful explanation on why we need this type (e.g., performance), and how it is used in image processing just like the IndirectArray demo.

[2021-09-10 09:41] timholy commented on #231
Yeah, it's not a widely used type (so far, anyway). I once knew applications that needed it, but I kind of forget them now. Looks like https://www.codeproject.com/Articles/441226/Haar-feature-Object-Detection-in-Csharp has a practical use-case.

[2021-12-01 11:17] etibarg opened #242 "Image loading slowdown after migration to julia 1.7.0"
Hello,

I've noticed a huge slowdown during image loading this morning, after migrating to julia 1.7.0.

Before:
[code]
After:
[code]

The image weights ~30Mo.
Clearly, there's something wrong with the allocation. But what/why?

[code]

Thanks,

NB: It's the first time I'm posting an issue. Sorry if it's the wrong place. (Should it be in julia repo?)

[2021-12-01 15:09] johnnychen94 commented on #242
Looks like it's an ImageMagick issue.

[code]

QuartzImageIO on macOS works "normally" here:

[code]

So we need someone with the expertise to bring a Julia wrapper for JpegTurbo; I'm interested in this but I don't have much free time...

I'm moving this to Images so that more people notice this issue.

[2021-12-02 12:38] johnnychen94 commented on #231
https://github.com/JuliaImages/ImageFiltering.jl/issues/241 is a good use case; we can also use this as a demo.

[2021-12-02 12:42] johnnychen94 opened #243 "introduce `gray`, `red`, `blue`, `green` in quickstart"
Some folks come up with questions on how to extract one channel; the solution is simple: `red.(img)`. I believe we should add these to the quickstart page.

[2021-12-12 06:12] johnnychen94 opened #244 "update the introduction page"
https://juliaimages.org/stable/pkgs/

This is perhaps clearer

![image](https://user-images.githubusercontent.com/8684355/145702422-08ecee3d-506b-4f68-bbaa-5198ee4c71ed.png)

[2022-05-25 17:27] davidalencia opened #247 "Having trouble with imresize and pixel art"
I have a problem increasing the size of a pixel art image (matrix). I have a 3x3 matrix, and I use imresize to increase it to 200x200 but it doesn't keep the pixel aesthetic. I have tried using different arguments in `method` but i can't find a way to keep the pixels defined.

[code]
![image](https://user-images.githubusercontent.com/20330355/170326274-0d83d5e9-7a00-4249-a9d0-572dfaf298f4.png)
[co

[2022-05-25 17:31] rubal501 commented on #247
imresize(finding, (200, 200), method=BSpline(Constant()))

[2022-05-26 08:07] #247 closed

[2022-10-09 16:19] johnnychen94 commented on #129
Reposted from slack (I completely forgot about this issue):

I’m starting to think about what `Number` is. Is it scalar-like stuff in the sense of broadcasting and happens to share a lot of properties of numbers? The fact that `RGB` is a “color vector space” is pretty much the same case as `Complex`. Maybe it’s a good idea to introduce a calculation-only wrapper type

[code]

and associated conver

[2022-10-10 17:27] rafaqz commented on #129
I've actually been thinking about this too. It would be good to make the color vector space an explicit wrapper rather than by just loading the ColorVectorSpace.jl package if you get an error.

We could also have better errors in the `ColorVector` constructor for why e.g. `HSL` doesn't work this way.

There is the code in https://github.com/SimonDanisch/AbstractNumbers.jl for an overview of what "